@import '../fonts/style.css';
@import '../icons/style.css';

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.layout_page {
  background-color: #EAEAEA;
  height: 100%;
  overflow-y: auto;
}

header {
  height: 72px;
  width: 100%;
  background-color: #FFFFFF;
  position: fixed;
  z-index: 999;

  .header_left {
    padding: 22px 25px;
    position: relative;
    float: left;
    
    .header_menu {
      
      .title {
        margin: 0;
        color: #414141;
        font-size: 24px;
        font-weight: 600;
      }

      .sub-title {
        margin-left: 20px;
        color: #414141;
        font-size: 16px;
        font-weight: 100;
      }
    }
  }

  .header_right {
    margin: 22px 25px;
    position: relative;
    float: right;
    
    .header_user {

      .icon-menu{
        vertical-align: text-top;
      }

      .icon-user{
        vertical-align: text-top;
        margin: 0 16px;
      }

      span {
        font-size: 16px;
        font-style: Helvetica Neue, Light;
        margin-right: 5px;
        margin-left: 5px;
        cursor: pointer;

        .chevron {
          margin-left: 8px;
          vertical-align: unset !important;
        }

        .tooltips {
          right: 45px;
          width: 180px;

          .box ul li {
            cursor: unset;
            &:hover {
              opacity: unset;
            }
            &:last-child {
              border-bottom: 1px solid #000;
            }
          }

          p {
            text-align: left;
            margin: 1px 0;
            padding: 11px 0;
            float: left;

            
            a {
              color: #000;
              cursor: pointer;
              font-size: 13px;
              font-weight: 300;
              padding: 13px 0;
              text-decoration: none;

              .icon-fa {
                vertical-align: middle;
                margin-right: 10px;
                width: 15px;
                height: 15px;
              }
      
              &.active {
                color: #000;
              }
            }
          }
        }
      }
    }
  }
}

/*bottom*/
button.MuiButton-raisedPrimary-25 {
  background-color: rgba(97, 0, 237, 1) !important;
  font-size: 14px !important;
  font-weight: 300 !important;
  border: 0;
  color: #FFFFFF;
}

button.MuiButton-flatPrimary-16 {
  color: rgba(97, 0, 237, 1) !important;
  font-size: 14px !important;
  font-weight: 300 !important;
  border: 0;
  background-color: #FFFFFF;
}

/*Switch*/
.MuiSwitch-colorSecondary-52.MuiSwitch-checked-50 {
  color: rgba(97, 0, 237, 1) !important;
}
.MuiSwitch-colorSecondary-69.MuiSwitch-checked-67 {
  color: rgba(97, 0, 237, 1) !important;
}
.MuiSwitch-bar-71 {
  color: rgba(97, 0, 237, 1) !important;
}
.MuiSwitch-bar-54 {
  background-color: rgba(97, 0, 237, 1) !important; 
}