@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
.icon-fa{
    width: 24px ;
    height:24px;
  }
.icon-menu {
    width: 16px ;
    height:16px;
  }
.icon-user {
    width: 16px ;
    height:16px;
  }
.icon-important {
   fill: #707070;
  }
.point {
  vertical-align: super;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block
}
.point.red {
    background: red;
  }
.point.yellow {
    background: yellow;
  }
.body--fixed {
  overflow: hidden;
}
.base-modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background: rgba(38, 54, 75, .6);
  font-family: Open Sans, sans-serif;
}
.base-modal__window {
  position: relative;
  margin: 0;
  overflow: hidden;
  width: 100%;
  background: #fff;
  border-radius: 0;
}
@media (min-width:752px) {
  .base-modal__window {
  margin: 32px auto;
  width: 450px;
  border-radius: 8px;
  box-shadow: 0 12px 32px rgba(38, 54, 75, .5);
}
}
.base-modal__title {
  -webkit-box-flex: 1;
  flex: 1 1;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
}
@media (min-width:560px) {
  .base-modal__title {
  font-size: 1.25rem;
}
}
.base-modal__item {
  padding-right: 24px;
  padding-left: 24px;
}
.base-modal__item+.base-modal__item {
  margin-top: 24px;
}
.base-modal__actions, .base-modal__header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}
.base-modal__header {
  padding-top: 24px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
}
.base-modal__content {
  margin-top: 40px!important;
}
@media (min-width:752px) {
  .base-modal__content {
  margin-top: 32px!important;
}
}
.base-modal__actions {
  -webkit-box-align: center;
  align-items: center;
}
.base-modal__footer {
  padding: 24px;
  color: #222;
  background: #eef2f8;
  font-size: .6875rem;
  line-height: 1rem;
  font-weight: 400;
}
.base-modal__button-close {
  margin-left: 24px;
  padding: 0;
  display: -webkit-box;
  display: flex;
  width: 24px;
  height: 24px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: #848d9f;
  background: #eef2f8;
  border: none;
  border-radius: 50%;
  fill: #848d9f;
  outline: none;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  cursor: pointer;
}
.base-modal__button-close:hover {
  background: #ced1db;
}
.base-modal__button-close:active {
  -webkit-transform: scale(.9);
  transform: scale(.9);
}
.base-modal__icon-close {
  width: 10px;
  height: 10px;
}
.base-modal--align-left .base-modal__title {
  text-align: left;
}
.base-modal--align-center .base-modal__title {
  text-align: center;
}
.base-modal--align-center .base-modal__header {
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.base-modal--align-center .base-modal__actions {
  justify-content: space-around;
}
.base-modal--align-left .base-modal__actions {
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.base-modal--align-center .base-modal__footer {
  text-align: center;
}
.base-modal--align-left .base-modal__footer {
  text-align: left;
}
.the-button {
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  padding: 9px 24px;
  width: 100%;
  font-weight: 600;
  text-align: center;
  color: #fff;
  border: 0;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
}
.the-button--disabled {
  opacity: .5;
  cursor: default;
}
.the-button--type-default {
  background: #00aeca;
}
.the-button--type-primary {
  background: #fe246c;
}
.the-button--type-grey {
  color: #222;
  background: #eef2f8;
}
.the-button--type-dark {
  color: #fff;
  background: #848d9f;
}
.auth__form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column nowrap;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.auth__input {
  padding: 0 15px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  font-size: .875rem;
  line-height: normal;
  text-align: center;
  color: #848d9f;
  background: #eef2f8;
  border: 1px solid #eef2f8;
  border-radius: 4px;
  outline: none;
}
.auth__input-phone {
  width: 230px;
}
.auth__error {
  margin-top: 10px;
  color: #fe246c;
}
.auth__error, .auth__go-to, .auth__notice {
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 400;
}
.auth__notice {
  margin-top: 16px;
  margin-bottom: 20px;
  text-align: center;
  color: #848d9f;
}
.auth__link {
  color: #1593db;
}
.auth__link--hover {
  cursor: pointer;
}
.auth__action {
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}
.auth__button {
  width: auto;
}
.auth__go-to {
  margin-top: 16px;
  color: #848d9f;
}
.auth__features {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column nowrap;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: .75rem;
}
.auth__features-list {
  padding: 0;
  width: auto;
  list-style-position: inside;
  list-style-type: disc;
  text-align: left;
}
.auth__features-item+.auth__features-item {
  margin-top: 4px;
}
.auth .auth__input--error {
  color: #fe246c;
  border: 2px solid #fe246c;
}
.auth .footer-actions {
  -webkit-box-flex: 1;
  flex: 1 0 100%;
  text-align: center;
}
[v-cloak] {
  display: none;
}
.vue-header {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 96px;
  opacity: 1;
  font-weight: 400;
  color: #222;
  -webkit-transform: translate(0);
  transform: translate(0);
  font-family: Open Sans, sans-serif;
}
.vue-header__selects {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
}
.vue-header__phone {
  margin-bottom: 6px;
}
.vue-header__count {
  color: #26364b;
  font-size: .875rem;
  line-height: 1.25rem;
}
.vue-header__users {
  font-weight: 700;
  color: #26364b;
  font-size: 1rem;
  line-height: 1.5rem;
}
.vue-header__logo {
  margin-top: -2px;
  display: inline-block;
  width: 166px;
  max-width: 166px;
}
.vue-header__logo-img {
  display: block;
  max-width: 100%;
  height: auto!important;
}
.vue-header__auth {
  height: 20px;
  line-height: 1.25rem;
}
.vue-header__city {
  margin-left: 18px;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}
.vue-header__city.city-select {
  margin: 0 13px 0 18px;
  height: 20px;
  line-height: 1.25rem;
}
.vue-header__city .button.color--white {
  padding: 0 8px;
  display: -webkit-inline-box;
  display: inline-flex;
  height: 24px;
  font-size: .875rem;
  text-transform: none;
  color: #848d9f;
  border: 2px solid transparent;
  font-family: Open Sans, sans-serif;
}
.vue-header__city .button.color--white .icon {
  position: relative;
  width: 8px!important;
  height: 4px!important;
  background-size: cover;
}
.vue-header__city .select-box__options-item {
  margin-bottom: 0;
  padding: 2px 16px 2px 34px;
}
.vue-header__city .select-box__options-item.\--active {
  padding-left: 8px;
}
.vue-header__city .select-box__title {
  font-size: .875rem;
  font-weight: 400;
}
.vue-header__right {
  position: relative;
  margin-left: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  -webkit-box-align: end;
  align-items: flex-end;
  line-height: normal;
  text-align: right;
}
.vue-header__right .caption {
  margin: 0 0 3px;
  font-size: .75rem;
  line-height: 1rem;
}
.vue-header__right .title-small {
  font-size: 1.3125rem;
  line-height: 1rem;
}
.vue-header__right strong {
  font-weight: 600;
  color: #fe246c;
}
.vue-header__right .vue-header__auth .select-box {
  text-align: left;
}
.vue-header__right .vue-header__auth .select-box__options {
  right: 0;
  left: auto;
  padding: 8px 0;
}
.vue-header__right .vue-header__auth .select-box__options-item {
  margin: 0!important;
  padding: 2px 16px;
}
.vue-header__right .vue-header__auth .select-box__options a {
  line-height: 1.73;
  text-decoration: none;
  color: #222;
}
.vue-header__right .vue-header__auth .select-box .button.color--white {
  padding: 0;
  height: 16px;
  font-weight: 400;
  text-transform: none;
  color: #0094e1;
  background-color: transparent!important;
  border: 2px solid transparent!important;
  -webkit-transition: color .1s linear;
  transition: color .1s linear;
  font-size: .75rem;
  line-height: 1rem;
  font-family: Open Sans, sans-serif;
}
.vue-header__right .vue-header__auth .select-box .button.color--white:hover {
  color: #003ee1;
}
.vue-header__right .vue-header__auth .select-box .button.color--white .icon {
  display: none;
}
@media (min-width:1025px) {
  .vue-header__right {
  min-height: 55px;
}
}
.vue-header .wrap {
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  width: 1000px;
  height: 100%;
  -webkit-box-align: center;
  align-items: center;
}
.body_main .vue-header {
  opacity: 0;
  -webkit-transition: opacity .5s ease-in 0s, -webkit-transform .8s ease-out 0s;
  transition: opacity .5s ease-in 0s, -webkit-transform .8s ease-out 0s;
  transition: opacity .5s ease-in 0s, transform .8s ease-out 0s;
  transition: opacity .5s ease-in 0s, transform .8s ease-out 0s, -webkit-transform .8s ease-out 0s;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}
.body_main .vue-header--show {
  opacity: 1;
  -webkit-transform: translate(0);
  transform: translate(0);
}
.body_main .vue-header--fixed {
  position: fixed;
  background: #fff;
  box-shadow: 0 6px 16px rgba(26, 61, 107, .16);
}
@media (max-width:767px) {
  .vue-header {
  height: 50px;
}
.vue-header__count, .vue-header__right, .vue-header__select-box-wrap {
  display: none;
}
.vue-header__logo {
  width: 110px;
}
.vue-header .header__burger {
  display: block;
}
}
.title-large {
  margin-bottom: 18px;
  font-size: 2.375rem;
  line-height: 1.26;
  font-weight: 300;
  color: #222;
}
.title-large-bold {
  font-weight: 600;
}
.title-medium {
  margin-bottom: .8125rem;
  font-size: 1.75rem;
  line-height: 1.29;
  font-weight: 300;
  color: #222;
}
.title-medium:first-child {
  margin-top: 0;
}
.title-small, p.title-small {
  font-size: 1.3125rem;
  line-height: 1.14;
}
.headline {
  margin-bottom: .8125rem;
  font-weight: 600;
}
.body-text, .headline {
  font-size: 1rem;
  line-height: 1.5;
  color: #222;
}
.subhead {
  font-size: .875rem;
  line-height: 1.43;
}
.caption {
  margin-bottom: .5rem;
  font-size: .75rem;
  line-height: 1.33;
}
.text-input {
  padding: 6px 32px 6px 16px;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  font-family: Open Sans;
  font-size: .875rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #222;
  background-color: #fff;
  border: 1px solid #ced1db;
  border-radius: 4px;
  outline: none;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}
.text-input:hover {
  border-color: #a7abbb;
}
.text-input:focus {
  border-color: #00b1cb;
}
.text-input:focus::-webkit-input-placeholder {
  opacity: .3;
}
.text-input:focus::-moz-placeholder {
  opacity: .3;
}
.text-input:focus:-ms-input-placeholder {
  opacity: .3;
}
.text-input:focus::-ms-input-placeholder {
  opacity: .3;
}
.text-input:focus::placeholder {
  opacity: .3;
}
.text-input:not(.\--empty) {
  background-color: #fff;
  border-color: #ced1db;
}
.text-input__wrap {
  width: 100%;
  height: 56px;
}
.text-input__error-msg {
  text-align: left;
  color: #d0021b;
  margin: 1px 0 .5rem;
  font-size: .75rem;
  line-height: 1.33;
}
.text-input::-webkit-input-placeholder {
  opacity: .7;
  color: #868d9d;
}
.text-input::-moz-placeholder {
  opacity: .7;
  color: #868d9d;
}
.text-input:-ms-input-placeholder {
  opacity: .7;
  color: #868d9d;
}
.text-input::-ms-input-placeholder {
  opacity: .7;
  color: #868d9d;
}
.text-input::placeholder {
  opacity: .7;
  color: #868d9d;
}
.text-input.\--color-grey {
  background-color: #eef2f8;
  border-color: #eef2f8;
}
.text-input.\--color-grey:hover {
  background-color: #d9e0ea;
}
.text-input.\--color-grey:focus {
  background-color: #fff;
  border-color: #eef2f8;
}
.text-input.\--error {
  border-color: #d0021b;
}
.text-input.\--disabled, .text-input:disabled {
  opacity: .3;
  pointer-events: none;
}

/*# sourceMappingURL=home.map*/